:root {
    --bg-color: #F6F8FF;
    --toggleBtn-color: #4B6A9B;
    --logo-color: #222731;
    --userDetails-color: #fff;
    --profileName-color: #2B3442;
    --joinedDate-color: #697C9A;
    --profileStats-bg: #F6F8FF;
    --dark-boxshadow: none;
    --secondary-text: #4B6A9B;
    --profileNr-color: #2B3442;
}
body.dark-mode {
    --bg-color:#141D2F;
    --toggleBtn-color: #fff;
    --logo-color: #fff;
    --userDetails-color: #1E2A47;
    --profileName-color: #fff;
    --joinedDate-color: #fff;
    --profileStats-bg: rgba(0, 0, 0, 0.2);
    --dark-boxshadow: box-shadow: 0px 4px 4px 0px #00000040;
    --secondary-text: #fff;
    --profileNr-color: #2B3442;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Space Mono', monospace;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
}
.container {
    width: 90%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20% 0 3.6rem 0;
}
nav h1 {
    color: var(--logo-color);
    font-size: 2.6rem;
    font-weight: 700;
}
.toggle-btn {
    background: none;
    border: none;
    outline: none;
    color: var(--secondary-text);
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
}
.toggle-icon {
    pointer-events: none;
}
.light {
    display: none;
}
.search {
   width: 100%; 
   position: relative;
   margin-bottom: 1.6rem;
}
.search input {
    background-color: var(--userDetails-color);
    color: var(--secondary-text);
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    font-size: 1.1rem;
    outline: none;
    width: 100%;
    padding: 1.8rem 0 1.8rem 6rem;
    position: relative;
}
.search input::-webkit-input-placeholder {
    font-family: 'Space Mono', monospace;
    color: var(--secondary-text);
}
.search img, .search button {
    top: 50%;
    transform: translateY(-50%);
}
.search img {
    position: absolute;
    left: 1.6rem;
}
.error-msg {
    color: #F74646;
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    font-weight: 700;
    display: none;
}
.search button {
    border: none;
    outline: none;
    border-radius: 1rem;
    background-color: #0079FF;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 1.15rem 1.3rem;
    position: absolute;
    right: 0.7rem;
    cursor: pointer;
}
.user-details {
    background: var(--userDetails-color);
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
    border-radius: 1.5rem;
    padding: 2.4rem;
    display: none;
}
.profile {
    display: grid;
    column-gap: 1.9rem;
    row-gap: 3.3rem;
    margin-bottom: 2.3rem;
    grid-template-columns: auto 1fr;
}
.profile-wrapper {
    display: flex;
    flex-direction: column;
}
.profile-wrapper h2 {
    font-size: 1.6rem;
    color: var(--profileName-color);
}
.profile-wrapper p {
    font-size: 1.3rem;
}
.profile-username {
    color: #0079FF;
    margin-bottom: .6rem;
}
.dp-wrapper {
    width: 7rem;
    height: 7rem;
}
.dp-wrapper img {
    width: 100%;
    border-radius: 50%;
}
.joined-date {
    color: var(--joinedDate-color);
}
.profile-desc {
    grid-column: span 2;
    color: var(--secondary-text);
    font-size: 1.3rem;
    line-height: 2.5rem;
    word-spacing: .5rem;
}
.profile-stats {
    background: var(--profileStats-bg);
    box-shadow: var(--dark-boxshadow);
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.8rem 1.4rem;
    gap: .8rem;
    margin: 0 auto 2.4rem auto;
}
.repos, .followers, .following {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats h3 {
    color: var(--secondary-text);
    font-size: 1.1rem;
    font-weight: 400;
}
.stats p {
    color: var(--profileName-color);
    font-size: 1.6rem;
    font-weight: 700;
}
.links-wrapper {
    color: var(--secondary-text);
    font-size: 1.3rem;
    display: flex;
    gap: 1.95rem;
    margin-bottom: 1.6rem;
}
.links-wrapper a{
    text-decoration: none;
    color: var(--secondary-text);
}
.links-wrapper a:visited {
    color: var(--secondary-text);
}
.dummy-grid1, .dummy-grid2{
    display: none;
}
.not-available {
    opacity: .6;
}
/* Ipads & Tablets */
@media screen and (min-width: 768px){
    .container {
        max-width: 57.3rem;
    }
    .profile {
        column-gap: 4.1rem;
        row-gap: 2.4rem;
    }
    .links-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .profile-stats {
        margin: 0 auto 3rem auto;
    }
    .search input {
        font-size: 1.8rem;
    }
    .profile-wrapper h2 {
        font-size: 2.6rem;
    }
    .profile-wrapper p {
        font-size: 1.6rem;
    }
    .profile-desc {
        font-size: 1.6rem;
    }
    .stats h3 {
        font-size: 1.3rem;
    }
    .stats p {
        font-size: 2.2rem;
    }
    .links-wrapper {
        font-size: 1.5rem;
    }
    .dp-wrapper {
        width: 11rem;
        height: 11rem;
    }
    .profile-pic {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
/* Laptop */
@media screen and (min-width: 1024px){
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 73rem;
    }
    nav {
        margin: 0 0 3.6rem 0;
    }
    .profile {
        column-gap: 3.7rem;
        row-gap: 2rem;
        margin-bottom: 2rem;
    }
    .profile-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
    }
    .profile-desc {
        grid-column: 2;
        font-size: 1.5rem;
    }
    .profile-username {
        grid-row: 2 / 3;
    }
    .dummy-wrapper {
        display: grid;
        grid-template-columns: 11.7rem 1fr;
        column-gap: 3.7rem;
    }
    .profile-stats, .links-container {
        grid-column: 2 / 3;
        width: 100%;
    }
    .dp-wrapper {
        width: 11.7rem;
        height: 11.7rem;
        grid-row: 1 / 3;
    }
    .search button:hover {
        background-color: #60ABFF;
    }
    .links-wrapper a:hover {
        cursor: pointer;
    }
}